body {
  text-align: center;
  background-color: rgb(246, 189, 57, 0.5);
}

img {
  height: auto;
  width: auto;
}

h1 {
  text-decoration-line: underline;
}

ul {
  display: table;
  margin: 0 auto;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
}

